/* Reset default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}
/* General styles */

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}
/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1,
h2,
h3 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 767px) {

    /* Styles for phones */
    header {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin-bottom: 5px;
    }

    main {
        padding: 10px;
    }

    section {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* Styles for tablets */
    header,
    main,
    footer {
        padding: 20px;
    }

    nav ul li {
        display: inline;
        margin-bottom: initial;
    }

    section {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 1024px) {

    /* Styles for desktop */
    header,
    main,
    footer {
        padding: 40px;
    }

    nav ul li {
        display: inline;
        margin-bottom: initial;
    }

    section {
        margin-bottom: 40px;
    }
}